fastapi
uvicorn[standard]
pydantic
python-dotenv
typing-extensions
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
# psutil
# pytest
# pytest-asyncio
# httpx