node_modules
.DS_Store
.vscode
.idea
.expo
.expo-shared

.env
.env.*

dist
build
tmp
cache

**/*.log
npm-debug.log
yarn-error.log
**/*.local

**/__tests__
**/*.spec.*

**/*.mp4
**/*.mov

**/*.zip
**/*.tar.gz

**/*.p8
**/*.pem
**/*.keystore

android/
ios/